//colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b483;
$color-light-dark: #777;
$color-white: #fff;
$color-dark: #000;
$color-light-gray:#f7f7f7;


//font
$default-font-size:1.6rem;

//grid
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;