@import "../abstracts/variables";

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;
  }

  &__logo {
    width: 15rem;
    height: auto;
  }

  &__navigation {
    border-top: 1px solid $color-light-gray;
    padding: 2rem;
    display: inline-block;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      color: $color-light-gray;
      text-transform: uppercase;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2rem $color-light-dark2;
      transform: rotate(5deg) scale(1.2);
    }
  }

  &__copyright {
    border-top: 1px solid $color-light-gray;
    padding: 2rem;
    color: $color-light-gray;
    width: 90%;
    float: right;
  }
}
