.navigation{


    &__checkbox{

    }

    &__button{

    }

    &__background{
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        top:6.5rem;
        right:6.5rem;
        position: fixed;
        background:radial-gradient($color-primary-light, $color-primary-dark) ;
    }

    &__nav{

    }

    &__list{

    }

    &__item{

    }

    &__link{


    }
}