
.btn {
  &,
    &:link,
    &:visited {
      text-decoration: none;
      text-transform: uppercase;
      padding: 1.5rem 4rem;
      display: inline-block;
      border-radius: 10rem;
      transition: all 0.2s;
      position: relative;

      border: none;
      cursor: pointer;
    }
    &-white {
      background: $color-white;
      color: $color-light-dark;
      &::after {
        background-color: $color-white;
      }
    }
    &-green {
      background: $color-primary;
      color: $color-white;
      &::after {
        background-color: $color-primary;
      }
    }
    &:active,:focus {
      outline: none;
      transform: translateY(-0.1rem);
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    }
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      display: inline-block;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
    }
    &:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba($color-dark, 0.2);
  
      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }
    &-animated {
      animation: moveUpBtn 1.1s ease-out;
      animation-fill-mode: backwards;
    }
  }
  
  .btn-text{
    &:link,
    &:visited{
      color:$color-primary;
      font-size: $default-font-size;
      border-bottom: 2px solid $color-primary;
      background-color: transparent;
      text-decoration: none;
      padding: 3px;
      transition: all .2s;
    }

    &:hover{
      background-color: $color-primary;
      color: $color-white;
      box-shadow: 0 1px 2px rgba($color-dark, 0.2);
      transform: translateY(-2px);

    }

    &.active{
      transform: translateY(0);
      box-shadow: 0 0.5px 1.5px rgba($color-dark, 0.2);
    }
  }