@import "../abstracts/variables";

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;

  &__side {
    height: 50rem;
    color: white;
    font-size: 3rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-dark, 0.15);
    overflow: hidden;

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-secondary-light, 0.8),
          rgba($color-secondary-dark, 0.8)
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 84%, 0 100%);
    &-1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url("../../img/nat-5.jpg");
    }
  }

  &__heading {
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 300;
    color: $color-white;
    text-align: right;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
  }

  &__heading-span {
    padding: 0.4rem ;
    box-decoration-break: clone;
    &-1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.8),
        rgba($color-secondary-dark, 0.8)
      );
    }
  }

  &__details{
    padding: 3rem;
    ul{
      list-style: none;
      width: 80%;
      margin: 0 auto;
      li{
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        font-weight: 600;
        color: $color-dark;

        &:not(:last-child){
          border-bottom: 1px solid #eee
        }
      }
    }
  }
}
