.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-dark, 0.5);
    // border-radius: 2px;
    position: absolute;
    transition: all 0.2s;
    z-index: 10;
    outline-offset: 1.3rem;

    &--p1 {
      top: -2rem;
      left: 0;
    }
    &--p2 {
      top: 2rem;
      right: 0;
    }
    &--p3 {
      top: 10rem;
      left: 20%;
    }
    &:hover {
      transform: scale(1.1) translateY(-0.5rem);
      z-index: 20;
      outline: 0.5rem solid $color-primary;
      box-shadow: 0 2.5rem 4rem rgba($color-dark, 0.5);
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.97);
  }
}
