.form {
  &__group:not(:last-child) {
    margin-bottom: 2.5rem;
  }
  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: 3px;
    border: none;
    background-color: ($color-white, 0.9);
    display: block;
    font-weight: 700;
    width: 90%;
    border-bottom: 3px solid transparent;

    &::-webkit-input-placeholder {
      color: $color-light-dark2;
    }
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.1);
      border-bottom: 3px solid $color-primary;
    }
    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-light;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all .3s;
  }
  &__input:placeholder-shown + &__label{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-group{
      display: inline-block;
      width: 49%;
  }
  &__radio-input{
    display: none;
  }
  &__radio-label{
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left:4.5rem ;
  }
  &__radio-button{
    width: 2.8rem;
    display: block;
    height: 2.8rem;
    border: 4px solid $color-primary;
    border-radius: 50%;
    position: absolute;
    top: -.3rem;
    left: 0;    
    

    &::after{
      content: '';
      display: block;
      width: 1.2rem;
      height: 1.2rem;
      background-color: $color-primary;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      opacity: 0
    }
  }
  &__radio-input:checked ~ &__radio-label &__radio-button::after{
    opacity: 1;
  }
}
