.popup {
  height: 100vh;
  width: 100%;
  background-color: rgba($color-dark, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  
  opacity: 0;
  visibility: hidden;

  
  &__content {
    
    //in a value called absCenter we define some css property and call it here,this kind of values stored in mixins file.
    @include absCenter;

    width: 70%;    
    background-color: $color-white;
    position: absolute;
    box-shadow: 0 2rem 4rem rgba($color-dark, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    transition: all .4s .2s;
    transform:translate(-50%, -50%) scale(.25);
  }

  &__img{
      width: 100%;
      display: block;
  }

  &__left{
    width: 33.33333%;
    display: table-cell;
  }

  &__right{
    width: 66.66667%;
    display: table-cell;
    vertical-align: middle;
    padding: 0 4rem;
  }

  &__text{
      font-size: 1.4rem;
      margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule:2px solid $color-light-gray;

    hyphens: auto;
  }
  
  &:target{
      
  opacity: 1;
  visibility: visible;
  }

  &:target &__content{
    transform:translate(-50%, -50%) scale(1);
  }
  &__close{
    &:link,
    &:visited{
        color:$color-gray-dark3;
        top: 2.5rem;
        right: 2.5rem;
        font-size: 3rem;
        text-decoration: none;        
        display: inline-block;
        position: absolute;
        line-height: 1;
        transition: all .2s;
    }
  }
}
