@import "../abstracts/variables";

.feature-box {
  background-color: rgba($color-white, 0.6);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1rem 4rem rgba($color-dark, 0.15);
  transition: all 0.2s;

  &__icon {
    font-size: 6rem;
    margin-bottom: 0.6rem;
    display: inline-block;
    // background-image: linear-gradient(
    //   to right,
    //   $color-primary-light $color-primary-dark
    // );
    // background-clip: text;
    color: $color-light-dark;
  }
  &__text {
    // font-size: rem;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.1);
  }
}
