@import "../abstracts/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 3rem;
    font-size: 1.6rem;
    color: $color-light-dark;
  }
